.hash {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	> .top {
		width: 100%;
		height: 48px;
	}

	> .middle {
		margin-top: 5px;
		width: 100%;
		height: calc(100% - 48px - 5px);

		> .paper {
			width: 100%;
			height: 100%;

			> .top {
				width: 100%;
				height: 48px;
				> .paper {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					padding: 0 5px;
					> .resType {
						width: 100px;
						height: 36px;
						margin-right: 10px;
					}

					> .size {
						margin-right: 10px;
					}
				}
			}

			> .middle {
				margin-top: 5px;
				width: 100%;
				height: calc(100% - 48px - 5px);
				> .paper {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					> .res {
						// padding: 5px;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: space-around;
						align-items: center;
						flex-direction: column;

						> .hash-content {
							width: 100%;
							height: 100%;
							overflow: y-scroll;
							outline: none;
							border: none;
							font-size: 1rem;
						}

						> .top {
							width: 100%;
							height: calc(100% - 48px - 10px);
							display: flex;
							justify-content: space-between;
							align-items: center;
							position: relative;
							> .left {
								height: 100% !important;
								// width: calc(100% / 2);
								> div {
									height: 100% !important;
									width: 100% !important;

									> div {
										// padding: 0 5px;
										height: 100%;
										width: 100%;
										> div {
											outline: none;
										}
									}
								}
							}

							> .right {
								// width: calc(100% - 100% / 2);
								width: 100%;
								height: 100%;
								display: flex;
								justify-content: space-between;
								align-items: flex-start;
								flex-direction: column;
								margin-left: 5px;
								> .top {
									width: 100%;
									height: 48px;
									padding: 5px;

									> .hash-key-content {
										width: 100%;
										height: 100% !important;
										overflow-y: scroll !important;
										outline: none;
										border: none;
										resize: none;
										font-size: 1rem;
									}
								}

								> .middle {
									padding: 5px;
									height: calc(100% - 48px - 5px);
									width: 100%;

									> .hash-value-content {
										width: 100%;
										height: 100% !important;
										overflow-y: scroll !important;
										outline: none;
										border: none;
										resize: none;
										font-size: 1rem;
									}
								}
							}

							.v-list-item {
								display: flex;
								justify-content: flex-start;
								align-items: center;

								> div {
									margin: 0 5px;
									font-size: 12px;
								}

								> .i {
									width: 50px;
									height: 100%;
								}

								> .key {
									width: 150px;
									height: 100%;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;
								}

								> .value {
									width: calc(100% - 150px - 50px);
									height: 100%;
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;
								}
							}
						}

						> .middle {
							width: 100%;
							height: 48px;
							display: flex;
							justify-content: flex-start;
							align-items: center;

							> .left {
								width: 50%;
								height: 100%;
								display: flex;
								justify-content: flex-start;
								align-items: center;

								.page {
									outline: none;
									width: 50px;
									pointer-events: none;
									input {
										text-align: center;
									}
								}

								> .forward {
									margin: 0 5px;
								}

								> .back {
									margin: 0 5px;
								}
							}

							> .right {
								width: 50%;
								height: 100%;
								display: flex;
								justify-content: flex-end;
								align-items: center;

								> .save {
									margin: 0 5px;
								}
								> .add-row {
									margin: 0 5px;
								}
								> .delete-row {
									margin: 0 5px;
								}
							}
						}
					}
				}
			}
		}
	}
}
