.m-left {
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: center;

	.popper {
		height: 100%;
		width: 100%;
		z-index: 999;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;

		> div {
			width: 200px;
			height: 48px;
			display: flex;
			justify-content: center;
			align-content: center;
			padding: 5px;

			> div {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-content: center;
			}
		}
	}

	> .rnd {
		position: relative !important;
		height: 100% !important;

		> div {
			width: 100%;
			height: 100%;

			> .top {
				height: 36px;
				width: 100%;
			}

			> .middle {
				height: calc(100% - 36px - 36px);
				width: 100%;
				overflow: auto;
			}

			> .bottom {
				height: 36px;
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				> .search {
					width: calc(100% - 0px);
					height: 36px;

					.search-input {
						height: 36px;
						width: 100%;
						padding: 0 5px;

						> div {
							display: flex;
							justify-content: center;
							align-items: flex-end;
							// width: 100px;
							height: 100%;
							margin-bottom: 5px;
						}

						.search-icon {
							margin-right: 5px;
							margin-left: 15px;
							font-size: 22px;
						}

						.close-icon {
							margin-right: 0px;
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}

.left-menu {
	> div {
		.left-menu-list {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			height: 100%;
			button {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
	}
}
