.log {
	width: 100%;
	height: 100%;

	padding: 5px;

	> .tabs {
		width: 100%;
		height: 48px;
		.tabs-indica {
			background-color: unset;
		}

		> div {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;

			> div {
				width: 100%;
				height: 100%;
				> button {
					width: 200px;
					height: 100%;
				}
			}
		}
	}

	> .content {
		width: 100%;
		height: calc(100% - 48px);
		overflow-y: auto !important;

		> div {
			min-height: 24px;
			width: 100%;
			font-size: 14px;
			user-select: text;
			white-space: pre-wrap;
			// text-overflow: ellipsis;
			display: flex;
			justify-content: flex-start;
			// align-items: center;
			line-height: 24px;
		}
	}
}
